<canvas id="chart" width="600" height="600"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
<script>
    var ctx = $('#chart');
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: {{perfData}}
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
{{!--{{#each perfData}}
<div>
    {{timestamp}}<br /> {{cpu_perc}}
    <br /> {{vmem_perc}}
    <br /> {{smem_perc}}
    <br />
</div>
{{/each}}--}}